 <div id="content-container" class="container">
    <!-- MAP CONTAINER -->
    <!--<div class="col-md-2" id="map-container">-->
        <!-- <canvas id="canvas" width="596" height="750" ></canvas>	 -->
    <!--</div>-->
        
    <!-- Loading progress bar -->
    <div id="progress-container" ng-show="!eventsLoaded">
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>

    <!-- TILES CONTAINER -->
    <div id="info-container" ng-show="eventsLoaded">
        <md-content id="festial-card-list-container" flex="50" layout="column" md-scroll-y layout-padding class="gridListdemoDynamicTiles" style="background-color: #F9F9F9;">   
            <md-list>
                <festival-tile event="event" selected="tileSelected(tileID)" collapse="event.collapse" ng-repeat="event in eventList | filter: displayEvent"> </festival-tile>
            </md-list>   
        </md-content>
    </div>		
</div>	