<div id="content-container" class="container">
    <!-- MAP CONTAINER -->
    <!--<div class="col-md-2" id="map-container">-->
    <!-- <canvas id="canvas" width="596" height="750" ></canvas>	 -->
    <!--</div>-->

    <!-- Loading progress bar -->
    <div id="progress-container" ng-show="!eventsLoaded">
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>

    <!-- TILES CONTAINER -->
    <div id="info-container" ng-show="eventsLoaded">
        <div class="festival-card-list-container">
            <festival-tile style="width:300px;" event="event" selected="tileSelected(event)" collapse="event.collapse" artist-list="userArtistList"
            ng-repeat="event in eventList | filter: displayEvent">
            </festival-tile>
        </div>
    </div>
</div>