images/history/*
images/ideas/*
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.xcf
node.d.ts
*.db
.vscode/*
public/json_dump/*
config/*
typings
pids
logs
results
build
*.crt
*.key
*.csr
node_modules
