<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="css/EventDetail.css">
		<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.9.4/angular-material.min.css">
		<link rel="stylesheet" type="text/css" href="css/gridStyles.css">

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>


        <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic"> -->
        <link href='https://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
	</head>

	<body>
	<div ng-controller="FestivalListCtrl" class="container" ng-app="festerrApp">
		<div class="row">

			<div class="page-header">
				<h1>Festerr  <small>Find UK Festivals</small> </h1>

			</div>
			
		</div>
		<div class="row">
			<!-- SEARCH BOX -->
			<div class="col-md-6 col-md-offset-3">
				<input ng-model="query" type="text" class="form-control" id="search-box" placeholder="Search for a festival, artist or event">
			</div>
			
		</div>
		<div class="row">
			<!-- MAP CONTAINER -->
			<div class="col-md-2" id="map-container">
				<!-- <canvas id="canvas" width="596" height="750" ></canvas>	 -->
			</div>
            
            <div id="progress-container" ng-show="!eventsLoaded">
                <md-progress-circular md-mode="indeterminate"></md-progress-circular>
            </div>
	
			<!-- TILES CONTAINER -->
			<div class="col-md-10" id="info-container" ng-show="eventsLoaded">
				<div class="gridListdemoDynamicTiles">
					<md-content layout="row">
			            <md-content flex="100" layout="column" md-scroll-y layout-padding>
						
						<md-list ng-repeat="event in eventList | filter: search" ng-include="'/templates/eventTile.html'">
						</md-list>    
	                     
			            </md-content>
			        </md-content>
				</div>				
			</div>			
		</div>
	</div>	

	</body>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/1.5.0/fabric.min.js"></script>
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.0.0/mustache.min.js"></script>
	 <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.9.4/angular-material.min.js"></script>

	<script type="text/javascript" src="js/FesterrMap.js"></script>
	<script type="text/javascript" src="app/app.js"></script>
	<script type="text/javascript" src="app/views/festivalList.js"></script>
	<script type="text/javascript" src="app/services/FestivalDataService.js"></script>
	<script type="text/javascript" src="app/services/NetworkService.js"></script>

</html>
