<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="css/EventDetail.css">
		<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.9.4/angular-material.min.css">
		<link rel="stylesheet" type="text/css" href="css/gridStyles.css">

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>


        <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic"> -->
        <link href='https://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
	</head>

	<body>
	<div ng-controller="FestivalListCtrl" class="container" ng-app="festerrApp">
		<div class="row">

			<div class="page-header">
				<h1>Festerr  <small>Find UK Festivals</small> </h1>

			</div>
			
		</div>
		<div class="row">
			<!-- SEARCH BOX -->
			<div class="col-md-6 col-md-offset-3">
				<input ng-model="query" type="text" class="form-control" id="search-box" placeholder="Search for a festival, artist or event">

			</div>
			
		</div>
		<div class="row">
			<!-- MAP CONTAINER -->
			<div class="col-md-6" id="map-container">
				<!-- <canvas id="canvas" width="596" height="750" ></canvas>	 -->
			</div>
	
			<!-- TILES CONTAINER -->
			<div class="col-md-6" id="info-container">
				<div class="gridListdemoDynamicTiles">
					<md-content layout="row">
			            <md-content flex="100" layout="column" md-scroll-y layout-padding>

			                    <!-- Each festival event is contained in a tileRow -->
			                    <md-list ng-repeat="event in eventList | filter: search">
			                    <md-grid-list
			                        md-cols="8" md-row-height="1:1"
			                        md-gutter="5px" >

			                        <!-- Festival tile is also single -->
									<md-grid-tile
			                            md-rowspan="{{event.tileInfo.displaySpan.rows}}"
			                            md-colspan="{{event.tileInfo.displaySpan.cols}}"
			                            md-colspan-sm="1"
			                            ng-click="selectTile(event.tileInfo)"
			                            class="eventTile">
			                            <div style="width: 100%; height: 100%;" ng-style="{'background-image' :'url({{event.largeimageurl}})'}">			                            	
			                            </div>
			                            <md-grid-tile-footer>
			                                <h3>{{event.eventname}}</h3>
			                            </md-grid-tile-footer>
			                        </md-grid-tile>


			                        <!-- Each artist is  a tile in the tileRow -->
			                        <md-grid-tile
			                            ng-repeat="artist in event.artists | limitTo:8"
			                            md-rowspan="{{artist.tileInfo.displaySpan.rows}}"
			                            md-colspan="{{artist.tileInfo.displaySpan.cols}}"
			                            md-colspan-sm="1"
			                            class="artistTile">
			                            <div style="width: 100%; height: 100%;" ng-style="{'background-image' :'url({{artist.image}})'}">			                            	
			                            </div>
			                            <md-grid-tile-footer>
			                                <h3>{{artist.name}}</h3>
			                            </md-grid-tile-footer>
			                        </md-grid-tile>
			                    </md-grid-list>
			                    </md-list>      
			            </md-content>
			        </md-content>
				</div>				
			</div>			
		</div>
	</div>	

	

		<!-- Handle the search box and clicking event list -->
		<script type="text/javascript">
			// $(document).ready(function() {		
			// 	run();
			// });

			// $('#event-list').on('click', 'li', function(event){	
			// 	listClicked(event, $(this));
			// });

			// $('#search-box').on('change', function(){
			// 	var search_term = $(this).val();

			// 	console.log("searching...");
			// 	//get seach results from data
			// 	searchForEvent(search_term, function(data){

			// 		showEventList(data);

			// 		console.log("done getting search results...");

			// 	});
			// });
		</script>
	</body>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/1.5.0/fabric.min.js"></script>
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.0.0/mustache.min.js"></script>
	 <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.9.4/angular-material.min.js"></script>

	<script type="text/javascript" src="js/FesterrMap.js"></script>
	<script type="text/javascript" src="app/app.js"></script>
	<script type="text/javascript" src="app/views/festivalList.js"></script>
	<script type="text/javascript" src="app/services/FestivalDataService.js"></script>
	<script type="text/javascript" src="app/services/NetworkService.js"></script>

</html>
