<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"></meta>

    <title>Festerr</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"></link>
    <link rel="stylesheet" type="text/css" href="css/EventDetail.css"></link>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.9.4/angular-material.min.css"></link>
    <link rel="stylesheet" type="text/css" href="css/gridStyles.css"></link>
    <link rel="stylesheet" type="text/css" href="css/signup.css"></link>
    <link rel="stylesheet" type="text/css" href="css/header.css"></link>
    <link rel="stylesheet" type="text/css" href="css/festivalCard.css"></link>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,500' rel='stylesheet' type='text/css'></link>

    <link href='https://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'></link>
    <link rel="shortcut icon" type="image/x-icon" sizes="32x32" href="/images/favicon/favicon.ico"></link>

    <!--<link rel="shortcut icon" href="/images/favicon.ico/favicon-16x16.png" type="image/x-icon" />-->
</head>

<body data-ng-app="festerrApp">

    <div data-ng-view></div>

    <!-- Latest compiled and minified JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.0.0/mustache.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-animate.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-route.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-cookies.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-aria.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angular_material/0.9.4/angular-material.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fetch/0.11.0/fetch.min.js"></script>

    <script type="text/javascript" src="app/app.js"></script>
    <script type="text/javascript" src="app/views/mainController.js"></script>
    <script type="text/javascript" src="app/views/festivalList/festivalList.js"></script>
    <script type="text/javascript" src="app/views/header/header.js"></script>
    <script type="text/javascript" src="app/views/eventDetail/eventDetail.js"></script>
    <script type="text/javascript" src="app/services/FestivalDataService.js"></script>
    <script type="text/javascript" src="app/services/NetworkService.js"></script>
    <script type="text/javascript" src="app/services/SpotifyService.js"></script>
    <script type="text/javascript" src="app/services/SearchService.js"></script>
    <script type="text/javascript" src="app/services/DateFormatService.js"></script>
    <script type="text/javascript" src="app/directives/festvialTileDirective.js"></script>
</body>

</html>