body {
  font-family: 'Roboto', sans-serif;
}


.gridListdemoBasicUsage md-grid-list {
  margin: 8px; }
.gridListdemoBasicUsage .gray {
  background: #f5f5f5; }
.gridListdemoBasicUsage .green {
  background: #b9f6ca; }
.gridListdemoBasicUsage .orange {
  background: orange; }
.gridListdemoBasicUsage .blue {
  background: #84ffff; }
.gridListdemoBasicUsage .purple {
  background: #b388ff; }
.gridListdemoBasicUsage .red {
  background: #ff8a80; }
.gridListdemoBasicUsage md-grid-tile {
  transition: all 400ms ease-out 50ms; }

.header h2{
  color: rgba(0,0,0,0.54);
  line-height: .75em;
  font-size: 14px;
    font-weight: 500;
    letter-spacing: .01em;
    margin-left: 20px;
}

.gridListdemoDynamicTiles md-icon {
  width: 50%;
  height: 50%; }
.gridListdemoDynamicTiles md-icon svg {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%; }
.gridListdemoDynamicTiles .s64 {
  font-size: 64px; }
.gridListdemoDynamicTiles .s32 {
  font-size: 48px; }
.gridListdemoDynamicTiles md-icon.fa {
  display: block;
  padding-left: 0; }
.gridListdemoDynamicTiles md-icon.s32 span {
  padding-left: 8px; }
.gridListdemoDynamicTiles md-grid-list {
  margin: 8px; }
.gridListdemoDynamicTiles .gray {
  background: #f5f5f5; }
.gridListdemoDynamicTiles .green {
  background: #b9f6ca; }
.gridListdemoDynamicTiles .orange {
  background: #FFE57F; }
.gridListdemoDynamicTiles .blue {
  background: #84ffff; }
.gridListdemoDynamicTiles .darkBlue {
  background: #80d8ff; }
.gridListdemoDynamicTiles .deepBlue {
  background: #448aff; }
.gridListdemoDynamicTiles .purple {
  background: #b388ff; }
.gridListdemoDynamicTiles .lightPurple {
  background: #8c9eff; }
.gridListdemoDynamicTiles .red {
  background: #ff8a80; }
.gridListdemoDynamicTiles .pink {
  background: #ff80ab; }
  .gridListdemoDynamicTiles md-grid-list {
  transition: all 300ms ease-out 50ms; }
.gridListdemoDynamicTiles md-grid-tile {
  transition: all 300ms ease-out 50ms; }
.gridListdemoDynamicTiles md-grid-tile md-icon {
  padding-bottom: 32px; }

.festival-tile-container{
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
}

.festival-tile-header {
  width: 100%;
  height: 100%;
  position: relative;
  background-size: cover;
  background-position-y: 30%; 
}

.festival-tile-body {
  width: 100%;
  background-color: #8C7FAD;
  padding-left: 20px;
  color: white;
  display: flex;
  flex-flow: column;
  justify-content: space-around; /* align horizontal */
  align-items: center; /* align vertical */
}

.festival-details-text {
  width: 100%;
  font-size: 20px;
}

.festival-name-container h3 {
  margin: 0;
  font-weight: 700;
  width: 100%;
  padding-left: 10px;
  font-size: 25px;
  color: white;
}

.expanded-header {
  transition: 500ms;
  height: 60%;
}

.closed-header {
  transition: 300ms;
  height: 100%;
}

.expanded-body {
  height: 40%;
  transition: 500ms;
}

.closed-body {
  height: 0%;
  transition: 500ms;
}

.festival-name-container {
  width: 100%;
  bottom: 0;
  position: absolute;
  background: rgba(0, 0, 0, 0.3);
  height: 40px; 
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
}

.artistTile md-grid-tile-footer h3 {
  margin: 0;
  font-weight: 700;
  width: 100%;
  padding-left: 10px;
  font-size: medium;
  text-align: left;
  font-size: 15px;
}

#header-text-container h1{
    margin: 0px;
}

#header-text-container small{
    color: white;
    font-size: medium;
}

#header-text-container {
    width: 10%;
    height: 50%;
    display: flex;
    flex-flow: row;
    justify-content: space-between; /* align horizontal */
    align-items: center; /* align vertical */
}

#header-text-container h1 {
    font-size: xx-large;
    margin-top: -10px;
}

#header-user-login-container {
    width: 10%;
    height: 50%;
}

#header-search-box-container{
    width: 60%;
    height: 50%;
}

#header-tabs-container {
    width:80%;
}

md-tabs.md-default-theme .md-tab {
    color: rgba(255,255,255,0.6);
}
md-tabs.md-default-theme .md-tab.md-active, md-tabs.md-default-theme .md-tab.md-focused{
    color:white;
}

md-tabs.md-default-theme md-ink-bar {
    color: white;
    background-color: white;
}

md-tabs.md-default-theme md-tabs-wrapper {
    border: none;
}

#search-box {
    background-color: #BFBFBF;
    color: white;
    height: 80%;
    font-size: medium; 
    border-radius: 2px;
    border: 1px solid #BFBFBF;
}

#content-container {
    margin-top: 140px;
}

#top-header {
    height: 140px;
    width: 100%;
    background-color: #6C7A89;
    position: fixed;
    top: 0px;
    left: 0px; 
    z-index: 100; 
    padding: 10px 10px 10px 10px;
    color: white;
    box-shadow: 0px 5px 5px rgba(51, 51, 51, 0.4);
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-around; /* align horizontal */
    align-items: center; /* align vertical */
}