body {
  font-family: 'Roboto', sans-serif;
}

.header h2{
  color: rgba(0,0,0,0.54);
  line-height: .75em;
  font-size: 14px;
    font-weight: 500;
    letter-spacing: .01em;
    margin-left: 20px;
}

.festival-tile-container{
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
}

.festival-tile-header {
  width: 100%;
  height: 100%;
  position: relative;
  background-size: cover;
  background-position-y: 30%; 
}

.festival-tile-body {
  width: 100%;
  background-color: #8C7FAD;
  padding-left: 20px;
  color: white;
  display: flex;
  flex-flow: column;
  justify-content: space-around; /* align horizontal */
  align-items: center; /* align vertical */
}

.festival-details-text {
  width: 100%;
  font-size: 20px;
}

.festival-name-container h3 {
  margin: 0;
  font-weight: 700;
  width: 100%;
  padding-left: 10px;
  font-size: 25px;
  color: white;
}

.expanded-header {
  transition: 500ms;
  height: 60%;
}

.closed-header {
  transition: 300ms;
  height: 100%;
}

.expanded-body {
  height: 40%;
  transition: 500ms;
}

.closed-body {
  height: 0%;
  transition: 500ms;
}

.festival-name-container {
  width: 100%;
  bottom: 0;
  position: absolute;
  background: rgba(0, 0, 0, 0.3);
  height: 40px; 
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
}

#main-container {
    background-color: #F9F9F9;
}

#progress-container {
  margin-top: 200px;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */  
}

#info-container {
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: center; /* align horizontal */
    align-items: flex-start; /* align vertical */ 
}

#content-container {
    margin-top: 100px;
    margin-left: 0px;
    margin-right: 0px;
    width: inherit;
    display: flex;
    flex-flow: column;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */  
}



.artistTile md-grid-tile-footer h3 {
  margin: 0;
  font-weight: 700;
  width: 100%;
  padding-left: 10px;
  font-size: medium;
  text-align: left;
  font-size: 15px;
}

