<!-- Each festival event is contained in a tileRow -->
<div class="festival-container" style="margin-top:{{topMargin}}px; margin-bottom:{{bottomMargin}}px; transition: all 0.5s">
    <div class="festival-card-container" style="width:50%;">
        <md-card class="festival-card" >
            <div class="festival-card-image md-card-image" style="background-image: url('{{event.largeimageurl}}');" ng-click="selectEventTile(event.tileInfo)">
            </div>
            <md-card-actions layout="row" layout-align="end center">
                <div>
                    <md-card-title-text>
                        <span class="md-headline">{{event.eventname}}</span>
                    </md-card-title-text>
                </div>
                <div style="width:36%;margin-right: -6px;">
                    <md-button class="md-icon-button" aria-label="Favorite">
                        <md-icon md-svg-icon="images/heart_gray.svg"></md-icon>
                    </md-button>
                </div>
            </md-card-actions>
        </md-card>
    </div>
    
    <div class="festival-details-container animate-show" ng-show="isExpanded">
        <div class="festival-card" md-whiteframe="6" style="background-color: #446CB3; height: 100%; margin:10px;box-shadow: 2px 2px 4px #AAAAAA;">
            TEST         
        </div>
    </div>
</div>