<md-dialog id="signup-dialog"> 
    <md-dialog-content>         
        <div ng-hide="showSignin" id="signup-dialog-container">
            <div id="signup-dialog-input-container" >
                <md-input-container>
                    <label>Username</label>
                    <input ng-model="user.username">
                </md-input-container>
                <md-input-container>
                    <label>Email</label>
                    <input ng-model="user.email" type="email">
                </md-input-container>
                    <md-input-container>
                    <label>Password</label>
                    <input ng-model="user.password" type="text">
                </md-input-container>
                    <md-input-container>
                    <label>Password Confirm</label>
                    <input ng-model="user.password_conf" type="text">
                </md-input-container>
            </div>
            <div id="signup-dialog-spotify-container">
                <img src="images/log_in-desktop-large.png" id="signin-spotify">
            </div>        
            <div id="signup-dialog-actions-container">
                <md-button ng-click="showSigninContainer()">Sign In</md-button>
                <md-button class="md-primary" ng-disabled="!registerEnabled()" ng-click="register(user)">Register</md-button>
            </div>  
        </div> 
        
        <div id="signin-container" ng-show="showSignin">
            <div id="signup-dialog-input-container" >
            <md-input-container>
                <label>Username</label>
                <input ng-model="user.username">
            </md-input-container>
            <md-input-container>
                <label>Password</label>
                <input ng-model="user.email" type="email">
            </md-input-container>
            </div>
            <div id="signup-dialog-spotify-container">
                <img src="images/log_in-desktop-large.png" id="signin-spotify">
            </div>        
            <div id="signin-dialog-actions-container">
                <md-button ng-click="signInUser(user)">Sign In</md-button>               
            </div>  
        </div>     
    </md-dialog-content> 
</md-dialog>