<div id="main-container">

    <ng-include src="'/app/views/header/header.html'"></ng-include>

    <!-- Loading progress bar -->
    <div id="progress-container" ng-show="!eventLoaded">
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>

    <div id="event-container" ng-show="eventLoaded">
        <div id="event-image" ng-style="{ 'background-image': 'url(' + event.headerimageurl + ')'}">
        </div>
        <div id="event-details-container">
            <div id="event-header-container" class="panel">
                <div id="event-like-circle" ng-click="likeClicked()">
                    <md-icon ng-if="!eventLiked" md-svg-src="/images/fav_white_border.svg" aria-label="Date" style="width: 48px;height: 48px;">
                    </md-icon>
                    <md-icon ng-if="eventLiked" md-svg-src="/images/fav_white.svg" aria-label="Date" style="width: 48px;height: 48px;">
                    </md-icon>
                </div>
                <span class="md-headline">{{event.eventname}}</span>
                <p>
                    {{event.description}}
                </p>
                <span class="divider"></span>
                <div id="event-header-info-bar">
                    <div class="info-box">
                        <md-icon md-svg-src="/images/event_gray.svg" aria-label="Date">
                        </md-icon>
                        <div class="text">
                            {{formatDate(event.date)}}
                        </div>
                    </div>
                    <div class="info-box">
                        <md-icon md-svg-src="/images/place_gray.svg" aria-label="Place">
                        </md-icon>
                        <div class="text">
                            {{event.venue.name}}</br> {{event.venue.town}}
                        </div>
                    </div>
                    <div class="info-box">
                        <md-icon md-svg-src="/images/cash.svg" aria-label="Price">
                        </md-icon>
                        <div class="text">
                            {{event.entryprice}}
                        </div>
                    </div>
                </div>
                <div id="event-header-actions">
                    <md-button href="{{::event.link}}" target="_blank" class="md-primary">
                        Buy Tickets
                    </md-button>
                </div>
            </div>

            <!-- Container with artist information in it -->
            <div class="event-info-container panel" ng-if="userArtists.length">
                <span class="md-headline">Your Artists</span>

                <md-grid-list class="artist-grid" md-cols="4" md-cols-sm="2" md-cols-md="3" md-cols-gt-md="4" md-row-height-gt-md="1:1" md-row-height="4:3"
                    md-gutter="8px" md-gutter-gt-sm="4px">
                    <md-grid-tile class="tile" ng-repeat="tile in userArtists" md-rowspan="1" md-colspan="1" md-colspan-sm="1" ng-class="tile"
                        ng-style="{ 'background-image': 'url(' + tile.image + ')'}">
                        <md-icon md-svg-icon=""></md-icon>
                        <md-grid-tile-footer>
                            <h3>{{tile.name}}</h3></md-grid-tile-footer>
                    </md-grid-tile>
                </md-grid-list>
            </div>
            <div class="event-info-container panel">
                <span class="md-headline">Other Artists</span>
                <md-grid-list class="artist-grid" md-cols="4" md-cols-sm="2" md-cols-md="3" md-cols-gt-md="4" md-row-height-gt-md="1:1" md-row-height="4:3"
                    md-gutter="8px" md-gutter-gt-sm="4px">
                    <md-grid-tile class="tile" ng-repeat="tile in otherArtists" md-rowspan="1" md-colspan="1" md-colspan-sm="1" ng-class="tile"
                        ng-style="{ 'background-image': 'url(' + tile.image + ')'}">
                        <md-icon md-svg-icon=""></md-icon>
                        <md-grid-tile-footer>
                            <h3>{{tile.name}}</h3></md-grid-tile-footer>
                    </md-grid-tile>
                </md-grid-list>
            </div>

        </div>
    </div>
</div>