<div id="event-container">
    <div id="event-image">
    </div>
    <div id="event-details-container">
        <div id="event-header-container">
            <span class="md-headline">Creamfields 2016</span>
        </div>

        <div id="event-info-container">
            EVENT NAME hello i am an event
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore incidunt suscipit similique, dolor corrupti cumque qui consectetur
                autem laborum fuga quas ipsam doloribus sequi...
            </p>
        </div>

    </div>
</div>